@font-face {
  font-family: 'dindin';
  src: url('./DingTalk JinBuTi.woff2');
}

@font-face {
  font-family: 'black-Magic';
  src: url('./Black-Magic.ttf');
}

@font-face {
  font-family: 'Fira Code';
  src: url('./FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'momo ink night';
  src: url('./momo ink night.ttf');
}

@font-face {
  font-family: 'slackey';
  src: url('./slackey.woff2');
}

@font-face {
  font-family: 'almama';
  src: url('./AlimamaShuHeiTi-Bold.woff2');
}

@font-face {
  font-family: "logo";
  src: url('./logo.ttf');
}
